
@{
    ViewBag.Title = "Household Joined";
}

<h2 class="brand">You have joined a household!</h2>

<p>
    Click <a href="@Url.Action("Index", "Home")">here</a> to go to the Household Dashboard.
</p>