@import url('https://fonts.googleapis.com/css?family=Audiowide');
.brand {
    font-family: 'Audiowide';
    text-transform: lowercase;
}
.brand-large {
    font-family: 'Audiowide';
    font-size: 2em;
    text-transform: lowercase;
}
.brand-notransform {
    font-family: 'Audiowide';
}

html,body {  
    height: -moz-calc(100% - 50px) !important;
    height: -webkit-calc(100% - 50px) !important;
    height: -o-calc(100% - 50px) !important;
    height: calc(100% - 50px) !important; 
}
#wrapper{height: 100% !important;}
#page-wrapper{min-height: 100% !important;}
input {
    max-width: 300px;
}
input[type="checkbox"] {
     -webkit-appearance: checkbox !important;
     -moz-appearance: checkbox !important;
     -ms-appearance: checkbox !important;
     -o-appearance: checkbox !important;
     appearance: checkbox !important;
}

.transaction-link:hover {
    background-color: #eeeeee !important;
}

table.dataTable thead .sorting_asc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead .sorting_desc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead .sorting {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;